
@font-face {
  font-family: 'it';
  src:url("./ITCAvantGardeStd-XLt.otf");
}
@font-face {
  font-family: 'box';
  src:url("./IMPACT.ttf");
  font-stretch: ultra-condensed;
}
@font-face {
  font-family: 'os';
  src:url("./Oswald-Medium.ttf");
}

@font-face {
  font-family: 'dusha';
  src:url("./Dusha.ttf");
}

@font-face {
  font-family: 'univer';
  src:url("./UniversLTStd-Black.ttf");
}
@font-face {
  font-family: 'zhenyan';
  src:url("./zhenyan.ttf");
}